@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
  section {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .slide {
    width: 100%;
    max-width: 100%;

    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .next-match {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .next-match,
  .bracket {
    margin-inline: auto;
  }

  .bracket {
    width: 100%;

    display: flex;
    justify-content: center;

    overflow-x: auto;
    overflow-y: hidden;
  }
}

/* =========================
   LARGE DESKTOP
========================= */

@media (min-width: 1440px) {
  html,
  body {
    overflow-y: hidden;
    height: 100vh;
  }
  body {
    background-image: url(../img/nouvelledasf6.png);
    overflow: hidden;
  }

  .container {
    width: 100vh;
    height: 100vw;

    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .bloc-horizontale {
    display: flex;
    flex-direction: row;

    width: 300vw;
    min-height: 100vh;

    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  .slide {
    width: 100vw;
    min-height: 100vh;

    flex-shrink: 0;
  }
}

/* =========================
   TABLET / RESPONSIVE ADMIN
========================= */

@media (max-width: 1200px) {
  .admin-body {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "requests waiting"
      "players players";

    align-items: stretch;

    gap: 1.5rem;
  }

  .admin-requests {
    grid-area: requests;
  }

  .admin-waiting {
    grid-area: waiting;

    /* même hauteur que demandes */
    min-height: 320px;
    height: 100%;
  }

  .admin-players {
    grid-area: players;

    width: 100%;

    /* PREND TOUTE LA LARGEUR */
    min-width: 100%;
  }

  /* force les 2 cards du haut à s'aligner */
  .admin-requests,
  .admin-waiting {
    display: flex;
    flex-direction: column;

    min-height: 320px;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
  .admin-page {
    padding: 1rem;
  }

  .admin-card.dashboard-mode {
    padding: 1.5rem;
  }

  .admin-body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "requests waiting"
      "players players";

    gap: 1rem;
  }

  .admin-dashboard-header h1 {
    font-size: 2rem;
    text-align: center;
  }

  .admin-actions {
    width: 100%;
    flex-direction: column;
  }

  .admin-actions .btn {
    width: 100%;
  }

  .admin-requests,
  .admin-waiting {
    min-height: 260px;
    padding: 1rem;
  }

  .admin-players {
    min-height: 350px;
  }
}

/* =========================
   MOBILE FORM
========================= */

@media (max-width: 768px) {
  .form-container {
    top: auto;
    bottom: 7rem;

    left: 50%;

    width: min(92vw, 420px);

    padding: 1.5rem;
  }

  .form-container input,
  .form-container select {
    width: 100%;
  }

  .form-container .btn {
    width: 100%;
  }
}

/* =========================
   HERO
========================= */
/* =========================
   LAPTOP
========================= */

@media (max-width: 1366px) {
  .street-fighter {
    right: 6rem;
    top: 7rem;
    gap: 0.3rem;
  }
  .hero-character img {
    width: clamp(360px, 30vw, 480px);
  }

  .hero-character {
    right: 0rem;
  }
}

/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {
  /* TITRES */

  .word-1 {
    left: 6rem;
    top: 5rem;
  }

  .word-2 {
    left: 2rem;
    top: 20rem;
  }

  .word-3 {
    left: 10rem;
    top: 40rem;
  }

  /* STREET FIGHTER */

  .street-fighter {
    top: 17rem;
    right: 8rem;

    gap: 0.4rem;

    transform: rotate(-12deg) scale(0.9);
    transform-origin: center;
  }

  /* CODY */

  .hero-character {
    top: auto;
    right: -1rem;
    bottom: 12rem;
  }

  .hero-character img {
    width: 340px;
  }

  /* CTA */

  .hero-actions {
    left: 50%;
    bottom: 4rem;

    transform: translateX(-50%);
  }
}

/* =========================
   MOBILE
========================= */

/* MOBILE */

@media (max-width: 768px) {
  .hero-content {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: visible;
  }

  /* TITRE */

  .word-1 {
    top: 4rem;
    left: 36%;

    transform: translateX(-50%);

    font-size: clamp(3rem, 5vw, 5rem);
  }

  .word-2 {
    top: 24rem;
    left: 0.5rem;

    transform: rotate(-12deg);

    font-size: clamp(3rem, 5vw, 5rem);
  }

  .word-3 {
    top: 39rem;
    left: 2rem;

    transform: rotate(10deg);

    font-size: clamp(3rem, 5vw, 5rem);
  }

  /* STREET FIGHTER */

  .street-fighter {
    position: absolute;

    top: 15rem;
    right: 12rem;

    display: flex;
    gap: 0.3rem;

    transform: rotate(-12deg);

    z-index: 40;
  }

  .word-4,
  .word-5 {
    position: relative;

    font-size: clamp(2.2rem, 8vw, 3.5rem);
  }

  .word-4 {
    transform: rotate(-20deg);
  }

  .word-5 {
    transform: rotate(28deg);
  }

  /* CODY */

  .hero-character {
    top: auto;
    bottom: 9rem;
    right: 1rem;
  }

  .hero-character img {
    width: min(88vw, 360px);
  }

  /* CTA */

  .hero-actions {
    left: 50%;
    bottom: 1.5rem;

    transform: translateX(-50%);
  }
}
/* =========================
   MOBILE NEXT-MATCH
========================= */
@media (max-width: 768px) {
  .next-match {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-inline: auto;
  }

  .next-match-card {
    flex-direction: column;

    width: min(88vw, 500px);

    margin-inline: auto;

    gap: 0.8rem;
  }
}

/* =========================
  BRACKET
========================= */
/* =========================
   LARGE DESKTOP
========================= */

@media (min-width: 1600px) {
  .bracket-content {
    transform: scale(1.08);
  }
}

/* =========================
   LAPTOP
========================= */

@media (max-width: 1366px) {
  .bracket-content {
    transform: scale(0.95);
  }
}

/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {
  .bracket {
    justify-content: center;
    overflow-x: auto;
  }

  .bracket-content {
    transform: translateX(-6%) scale(0.88);
    transform-origin: center top;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
  .bracket {
    width: 100%;

    display: flex;
    justify-content: flex-start;

    overflow-x: auto;
    overflow-y: hidden;

    padding-inline: 50vw;

    box-sizing: border-box;

    -webkit-overflow-scrolling: touch;
  }

  .bracket-content {
    width: 1000px;
    min-width: 1000px;

    position: relative;
    left: auto;

    transform: scale(0.65);
    transform-origin: center top;
  }
}
/* =========================
   MOBILE BRACKET-PLAYERS
========================= */

@media (max-width: 768px) {
  .player {
    width: 105px;
    height: 160px;
  }

  .player-name {
    max-width: 120px;

    font-size: 0.85rem;
  }
}
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
  section {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .slide {
    width: 100%;
    max-width: 100%;

    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .next-match {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .next-match,
  .bracket {
    margin-inline: auto;
  }

  .bracket {
    width: 100%;

    display: flex;
    justify-content: center;

    overflow-x: auto;
    overflow-y: hidden;
  }
}

/* =========================
   LARGE DESKTOP
========================= */

@media (min-width: 1440px) {
  html,
  body {
    overflow-y: hidden;
    height: 100vh;
  }
  body {
    background-image: url(../img/nouvelledasf6.png);
    overflow: hidden;
  }

  .container {
    width: 100vh;
    height: 100vw;

    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .bloc-horizontale {
    display: flex;
    flex-direction: row;

    width: 300vw;
    min-height: 100vh;

    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  .slide {
    width: 100vw;
    min-height: 100vh;

    flex-shrink: 0;
  }
}

/* =========================
   TABLET / RESPONSIVE ADMIN
========================= */

@media (max-width: 1200px) {
  .admin-body {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "requests waiting"
      "players players";

    align-items: stretch;

    gap: 1.5rem;
  }

  .admin-requests {
    grid-area: requests;
  }

  .admin-waiting {
    grid-area: waiting;

    /* même hauteur que demandes */
    min-height: 320px;
    height: 100%;
  }

  .admin-players {
    grid-area: players;

    width: 100%;

    /* PREND TOUTE LA LARGEUR */
    min-width: 100%;
  }

  /* force les 2 cards du haut à s'aligner */
  .admin-requests,
  .admin-waiting {
    display: flex;
    flex-direction: column;

    min-height: 320px;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
  .admin-page {
    padding: 1rem;
  }

  .admin-card.dashboard-mode {
    padding: 1.5rem;
  }

  .admin-body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "requests waiting"
      "players players";

    gap: 1rem;
  }

  .admin-dashboard-header h1 {
    font-size: 2rem;
    text-align: center;
  }

  .admin-actions {
    width: 100%;
    flex-direction: column;
  }

  .admin-actions .btn {
    width: 100%;
  }

  .admin-requests,
  .admin-waiting {
    min-height: 260px;
    padding: 1rem;
  }

  .admin-players {
    min-height: 350px;
  }
}

/* =========================
   MOBILE FORM
========================= */

@media (max-width: 768px) {
  .form-container {
    top: auto;
    bottom: 7rem;

    left: 50%;

    width: min(92vw, 420px);

    padding: 1.5rem;
  }

  .form-container input,
  .form-container select {
    width: 100%;
  }

  .form-container .btn {
    width: 100%;
  }
}

/* =========================
   HERO
========================= */
/* =========================
   LAPTOP
========================= */

@media (max-width: 1366px) {
  .street-fighter {
    right: 6rem;
    top: 7rem;
    gap: 0.3rem;
  }
  .hero-character img {
    width: clamp(360px, 30vw, 480px);
  }

  .hero-character {
    right: 0rem;
  }
}

/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {
  /* TITRES */

  .word-1 {
    left: 6rem;
    top: 5rem;
  }

  .word-2 {
    left: 2rem;
    top: 20rem;
  }

  .word-3 {
    left: 10rem;
    top: 40rem;
  }

  /* STREET FIGHTER */

  .street-fighter {
    top: 17rem;
    right: 8rem;

    gap: 0.4rem;

    transform: rotate(-12deg) scale(0.9);
    transform-origin: center;
  }

  /* CODY */

  .hero-character {
    top: auto;
    right: -1rem;
    bottom: 12rem;
  }

  .hero-character img {
    width: 340px;
  }

  /* CTA */

  .hero-actions {
    left: 50%;
    bottom: 4rem;

    transform: translateX(-50%);
  }
}

/* =========================
   MOBILE
========================= */

/* MOBILE */

@media (max-width: 768px) {
  .hero-content {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: visible;
  }

  /* TITRE */

  .word-1 {
    top: 4rem;
    left: 36%;

    transform: translateX(-50%);

    font-size: clamp(3rem, 5vw, 5rem);
  }

  .word-2 {
    top: 24rem;
    left: 0.5rem;

    transform: rotate(-12deg);

    font-size: clamp(3rem, 5vw, 5rem);
  }

  .word-3 {
    top: 39rem;
    left: 2rem;

    transform: rotate(10deg);

    font-size: clamp(3rem, 5vw, 5rem);
  }

  /* STREET FIGHTER */

  .street-fighter {
    position: absolute;

    top: 15rem;
    right: 12rem;

    display: flex;
    gap: 0.3rem;

    transform: rotate(-12deg);

    z-index: 40;
  }

  .word-4,
  .word-5 {
    position: relative;

    font-size: clamp(2.2rem, 8vw, 3.5rem);
  }

  .word-4 {
    transform: rotate(-20deg);
  }

  .word-5 {
    transform: rotate(28deg);
  }

  /* CODY */

  .hero-character {
    top: auto;
    bottom: 9rem;
    right: 1rem;
  }

  .hero-character img {
    width: min(88vw, 360px);
  }

  /* CTA */

  .hero-actions {
    left: 50%;
    bottom: 1.5rem;

    transform: translateX(-50%);
  }
}
/* =========================
   MOBILE NEXT-MATCH
========================= */
@media (max-width: 768px) {
  .next-match {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-inline: auto;
  }

  .next-match-card {
    flex-direction: column;

    width: min(88vw, 500px);

    margin-inline: auto;

    gap: 0.8rem;
  }
}

/* =========================
  BRACKET
========================= */
/* =========================
   LARGE DESKTOP
========================= */

@media (min-width: 1600px) {
  .bracket-content {
    transform: scale(1.08);
  }
}

/* =========================
   LAPTOP
========================= */

@media (max-width: 1366px) {
  .bracket-content {
    transform: scale(0.95);
  }
}

/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {
  .bracket {
    justify-content: center;
    overflow-x: auto;
  }

  .bracket-content {
    transform: translateX(-6%) scale(0.88);
    transform-origin: center top;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
  .bracket {
    width: 100%;

    display: flex;
    justify-content: flex-start;

    overflow-x: auto;
    overflow-y: hidden;

    padding-inline: 50vw;

    box-sizing: border-box;

    -webkit-overflow-scrolling: touch;
  }

  .bracket-content {
    width: 1000px;
    min-width: 1000px;

    position: relative;
    left: auto;

    transform: scale(0.65);
    transform-origin: center top;
  }
}
/* =========================
   MOBILE BRACKET-PLAYERS
========================= */

@media (max-width: 768px) {
  .player {
    width: 105px;
    height: 160px;
  }

  .player-name {
    max-width: 120px;

    font-size: 0.85rem;
  }
}

/* =========================
   TRUE MOBILE FIX
========================= */

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    background-position: center;
    background-size: cover;
  }

  .hero-section {
    min-height: 100dvh;
  }

  .hero-content {
    position: relative;
    min-height: 100dvh;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    overflow: hidden;
  }

  /* ---------- TITRES ---------- */

  .word-1,
  .word-2,
  .word-3 {
    position: absolute;
    z-index: 20;
  }

  .word-1 {
    top: 2rem;
    left: 50%;

    transform: translateX(-50%);
    font-size: 2.3rem;
  }

  .word-2 {
    top: 8rem;
    left: 1rem;

    font-size: 2rem;
  }

  .word-3 {
    top: 11rem;
    left: 2rem;

    font-size: 2rem;
  }

  /* ---------- STREET FIGHTER ---------- */

  .street-fighter {
    position: absolute;

    top: 15rem;
    right: 1rem;

    transform: rotate(-12deg) scale(0.75);
    z-index: 20;
  }

  .word-4,
  .word-5 {
    font-size: 2rem;
  }

  /* ---------- CODY ---------- */

  .hero-character {
    position: absolute;

    right: -3rem;
    bottom: 6rem;
  }

  .hero-character img {
    width: 110vw;
    max-width: none;
  }

  /* ---------- CTA ---------- */

  .hero-actions {
    position: absolute;

    left: 50%;
    bottom: 2rem;

    transform: translateX(-50%);
    z-index: 30;
  }

  .cta {
    width: 260px;
  }

  /* ---------- ADMIN BTN ---------- */

  .btn-admin-user {
    top: 1rem;
    right: 1rem;
    z-index: 50;
  }
}
