/* =========================
   PAGE GLOW
========================= */

.admin-page::before {
  animation: floatGlow 8s ease-in-out infinite;
}

.admin-page::after {
  animation: floatGlow2 10s ease-in-out infinite;
}

@keyframes floatGlow {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floatGlow2 {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* =========================
   TOURNAMENT APPEAR
========================= */

.match-card {
  animation: bracketAppear 0.45s ease;
}

.champion-card {
  animation: bracketAppear 0.6s ease;
}

@keyframes bracketAppear {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.96);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
